In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [105]:
df = pd.read_csv("../Resources/spotifyWeeklyTop200Streams.csv")
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26395 entries, 0 to 26394
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26395 non-null  int64
 1   Name        26395 non-null  object
 2   Artist      26395 non-null  object
 3   Features    4658 non-null   object
 4   Streams     26395 non-null  int64
 5   Week        26395 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.2+ MB

   Unnamed: 0            Name      Artist Features   Streams        Week
0           0  In My Feelings       Drake      NaN  30747676  2018-07-20
1           1    Lucid Dreams  Juice WRLD      NaN  12930705  2018-07-20
2           2         Nonstop       Drake      NaN  12312859  2018-07-20

In [106]:
df = df.drop(columns=["Unnamed: 0"])
df['Features'] = df['Features'].fillna(0)  # Replace NaN with 0
df['Features'] = np.where(df['Features'] != 0, 1, df['Features'])
df['Features'] = np.where(df['Features'] != 0, True, False)

df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26395 entries, 0 to 26394
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      26395 non-null  object
 1   Artist    26395 non-null  object
 2   Features  26395 non-null  bool
 3   Streams   26395 non-null  int64
 4   Week      26395 non-null  object
dtypes: bool(1), int64(1), object(3)
memory usage: 850.7+ KB

             Name      Artist  Features   Streams        Week
0  In My Feelings       Drake     False  30747676  2018-07-20
1    Lucid Dreams  Juice WRLD     False  12930705  2018-07-20
2         Nonstop       Drake     False  12312859  2018-07-20

In [107]:
df["Features"].value_counts()

Features
False    21737
True      4658
Name: count, dtype: int64

In [108]:
clean_df = df.drop(columns=["Artist","Name", "Week"])
clean_df = pd.get_dummies(clean_df)
clean_df

       Features   Streams
0         False  30747676
1         False  12930705
2         False  12312859
3         False  10771324
4         False  10503061
...         ...       ...
26390     False   1521806
26391     False   1518345
26392      True   1516966
26393     False   1486767
26394     False   1486662

[26395 rows x 2 columns]

In [109]:
X = clean_df.copy()
X.drop("Streams", axis=1, inplace=True)
X.head()

   Features
0     False
1     False
2     False
3     False
4     False

In [110]:
y = clean_df["Streams"].ravel()
y[:5]

array([30747676, 12930705, 12312859, 10771324, 10503061], dtype=int64)

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [115]:
# Model selection and training
model = LinearRegression()
model.fit(X_train, y_train)

# Model evaluation
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 4478293968243.93
R^2 Score: -0.0010392337025320053